= div_for notebook do
  %p
    = notebook.name
    - if notebook.budget_items.any?
      = "(#{notebook.budget_items.size})"

  %div
    = notebook.description

  = link_to "Add budget item for this notebook", new_notebook_budget_item_path(notebook), class: "new-budget-item"

